/*



How to read and write this CSS file


indent the code to show where it starts and ends. for example:

/ Page the file relates to /

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }


/ another page /

    #example_element_3{
        style: value;
    }
    #example_element_4{
        style: value;
    }


this way we can see which elements are related to which page. which will make it easier to read and write the code
between multiple people.

you can also intent further to explain a certain area of code, for example:

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }
    
    / this code is focused on something specific /
        #example_element_3{
            style: value;
        }
        #example_element_4{
            style: value;
        }
    
    #example_element_5{
        style: value;
    }

*/



  

/* Declaring global scale variables by using :root */
:root {
    /* to make another variable follow the format
    --var_name: value; */

    
    --background_color: rgb(232, 232, 232);

    --main_background_color: rgb(255, 255, 255);
    --main_border_color: rgb(136, 158, 173);

    --legend_and_input_color: rgb(33, 110, 123);
    --input_background_color: rgb(167, 189, 199);

    --text_color: black;

    --title_color: rgb(40, 69, 92);
    --title_shadow_color: rgb(129, 189, 230);

    --manager_result_border_color: rgb(61, 17, 97);


    /* hero image styles */
        --hero_image_background: url('./images/hero_image.webp'); /* note that this is a `background-image` */
        --hero_image_text_h1_color: rgb(40, 69, 92);
        --hero_image_text_low_res_color: rgb(87, 153, 207);
        --hero_image_text_h1_shadow_color: rgb(129, 189, 230);
        --hero_image_text_p_color: rgb(40, 69, 92);
        --hero_image_text_p_shadow_color: rgb(129, 189, 230);
        --hero_text_low_screen_size_background_color: rgba(0, 0, 0, 89%);



    /* Navigation Styles */
        --nav_background_color: rgba(170, 200, 220, 0.9);

        --nav_button_color: rgb(74, 129, 169);
        --nav_active_button_color: rgb(150 213 255);
        --nav_button_hover_color: rgb(247, 248, 250);

        --nav_border_color: rgb(52, 121, 182);

        --nav_text_color: rgb(255, 255, 255);
        --nav_hover_text_color: rgb(0, 0, 0);
        --nav_active_text_color: rgb(0, 0, 0);

        --nav_element_gap: 3%;


    /* Main section styles */
        --main_content_background_color: linear-gradient(to left, var(--content_background_color)90%, var(--content_background_gradient_color));
        --main_section_h2_color: rgb(40, 69, 92);
        --main_section_h2_shadow_color: rgb(129, 189, 230);
    


    /* Footer styles */
        --footer_background_gradient: linear-gradient(to bottom, rgb(40, 61, 80), rgb(13 22 30)80%);
        --footer_text_color: #e2e2e2;
        --footer_link_color: #4fd1ff;
        --footer_link_color_hover: #01f8c3;




    /* Font styles */
        --h1_hero_font_size: 3.8em;
        --p_hero_font_size: 1.5em;
        --h1_font_size: 3em;
        --h2_font_size: 2.2em;
        --h3_font_size: 1.6em;
        --p_font_size: 1em;
        --list_items_font_size: 1em;
        --a_font_size: 1em;
        --legend_font_size: 1.5em;
    



    /* info card styles */
        --card_width: 330px;
        --card_height: 80px;
        /* detailed view */
        --card_debug_table_border_color: white;
        /* info card (success) */
            --card_title_color: green;
            --card_p_color: black;
            --card_countdown_color: green;
            --card_icon_color: green;
            --card_detailed_border_colour: lightgreen;
            


    --content_background_color: rgba(170, 200, 220, 0.9);
    --content_background_gradient_color: rgba(111, 197, 255, 0.9);

    /*note that most values are going to be blank/ placeholders for actual styles*/
}

/* Card Styles */
    /*Note that success is in root */
    .card_error {
        --card_countdown_color: red;
        --card_icon_color: red;
        --card_title_color: red;
        --card_detailed_border_colour: red;
    }


/* ALTERNATE STYLES FOR ACCESSIBILITY */
    /* simply add a class, then change the variables to the new values */
    .black_white { /* accessibility for color blind people */


        /* General styles */
            --main_background_color: rgb(65, 65, 65);
            --main_border_color: black;



            /* Navigation styles */
                --nav_background_color: white;
                --nav_text_color: white;
                --nav_button_color: black;
                --nav_active_button_color: gray;
                --nav_active_text_color: white;
                --nav_border_color: black;

            /* Hero image styles */
                --hero_image_background: url('./images/hero_image_black_white.webp');
                --hero_image_text_h1_color: Black;
                --hero_image_text_h1_shadow_color: gray;
                --hero_image_text_p_color: black;
                --hero_image_text_p_shadow_color: gray;
            

            /* Main section styles */
                --main_content_background_color: linear-gradient(to left, white 90%, rgb(165, 165, 165));
                --main_section_h2_color: black;
                --main_section_h2_shadow_color: rgb(214, 214, 214);
            

            
            /* Footer styles */
                --footer_background_gradient: linear-gradient(to bottom, rgb(185, 185, 185), rgb(70, 70, 70) 80%);
                --footer_text_color: black;
                --footer_link_color: rgb(0, 0, 0);
                --footer_link_color_hover: rgb(75, 75, 75);

            /* Info card styles */
                --card_title_color: black;
                --card_debug_table_border_color: white;
                --card_countdown_color: black;
                --card_detailed_border_colour: black;
                --card_icon_color: black;

            /* Manager Stylings */
                --manager_result_border_color: black;
                --manager_result_text_color: black;


        /* Specific stylings */
            --text_color: white;
            --title_color: black;
            --title_shadow_color: rgb(214, 214, 214);
            --legend_and_input_color: black;
            --input_background_color: lightgray;
    }

    .font_large { /* accessibility for people with bad eyesight */
        --h1_hero_font_size: 4.8em;
        --p_hero_font_size: 2em;
        --h1_font_size: 4em;
        --h2_font_size: 3em;
        --h3_font_size: 2.8em;
        --p_font_size: 2em;
        --list_items_font_size: 2em;
        --a_font_size: 2em;
        --legend_font_size: 2em;
        word-break: break-word;

        --card_width: 450px;
        --card_height: 120px;
    }

    .font_small { /* accessibility for people with bad eyesight, or good? idk but smaller text goes brrr (probably good for phone people) */
        --h1_hero_font_size: 2.8em;
        --p_hero_font_size: 1em;
        --h1_font_size: 2em;
        --h2_font_size: 1.5em;
        --h3_font_size: 1.2em;
        --p_font_size: 0.8em;
        --list_items_font_size: 0.8em;
        --a_font_size: 0.8em;
        --legend_font_size: 1em;
    }


/* General styling
    This is for styling every single page */


    * {
        box-sizing: border-box;
        /* generated by chatgpt as a fix to the body not covering the screen when reaching the size 430px
        i didn't know how to fix it and after a couple of chats with gpt it gave me this after i explain to it that it might be the fact that
        its setting the width of the object and then adding padding making it bigger then what its suppose to be
        so when i set main to 100% it was actually 100% + padding which made it overflow the screen (at least that what i think is happening)
        no prompt was used as I gave it code, and had multiple chats. really it was me who figured out the problem and gpt just gave me the solution*/   
    }



    h1 {
        font-size: var(--h1_font_size);
    }

    h2 {
        font-size: var(--h2_font_size);
    }
    h3 {
        font-size: var(--h3_font_size);
    }
    p, label, select, input, textarea {
        font-size: var(--p_font_size);
    }
    li {
        font-size: var(--list_items_font_size);
    }
    a {
        font-size: var(--a_font_size);
    }
    legend {
        font-size: var(--legend_font_size);
    }



    body {
        /* Styling the entire body of all pages */
        background-color: var(--background_color);

        margin: 0px; /* removes the default margin */
        min-width: 248px;
        position: relative;
        overflow-x: hidden;
    }
    
    main {
        /* styles for all main content elements */
        
        width: 80%;
        padding: 40px;
        margin: 0px auto;
        background-color: var(--main_background_color);
        border: 3px solid var(--main_border_color);
        border-radius: 80px;
        


        line-height: 2;
    }

    


    /* Main navigation styling; Note: values should be changed from the variables not from here */
        .main_navigation {
            width: 60%;
            margin: 0px auto 40px auto;
            padding: 1% 0px;
            background-color: var(--nav_background_color);
            position: sticky;
            top: 0;

            /* border */
            border: 3px solid var(--nav_border_color);
            border-radius: 30px;

            /* flex styles */
            display: flex;
            justify-content: center;
            gap: var(--nav_element_gap);

            box-shadow: 5px 5px 20px -5px black;

            z-index: 10;
        }

        .main_navigation a {
            display: flex;
            align-items: center;
            vertical-align: middle;
            text-decoration: none;
            color: var(--nav_text_color);
            background-color: var(--nav_button_color);
            border-radius: 50px;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            font-size: calc(1em + 0.5vw);
            padding: 1% 2%; 
            box-shadow: 3px 2px 0px 0px black;
        }

        .main_navigation a.current {
            background-color: var(--nav_active_button_color);
            color: var(--nav_active_text_color);
        }

        .main_navigation a:hover {
            color: var(--nav_hover_text_color);
            background-color: var(--nav_button_hover_color);
            transform: translateY(2px) translateX(3px);
            box-shadow: inset 1px 2px 0px 0px black;
        }

        .main_navigation > a > svg {
            width: 1em;
            height: 1em;
        }
        


    /* Footer styling, this will be basic for now but will carry all important links*/
        footer {
            display: grid;
            position: static;
            bottom: 0;
            background-image: var(--footer_background_gradient);
            height: 40vh;
            grid-template-columns: 40% 25% 35%;
            text-align: center;
            color: var(--footer_text_color);
            margin-top: 100px;
            width: 100%;
            box-shadow: inset -7px 9px 20px -5px black;
        }
        #footer_links_flex_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2%;
            width: 100%;
            height: 100%;
        }
        #footer_company_description {
            padding: 2%;
        }
        .footer_links nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2%;
        }
        .footer_links a {
            text-decoration: none;
            color: var(--footer_link_color);
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }
        .footer_links a:hover {
            color: var(--footer_link_color_hover);
            text-decoration: underline;
        }

        #footer_image img {
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: 0.5;
            width: 99vw;
            height: 10vh;
            z-index: 2;
        }






    /* Section styling */

        .main_section {
            width: 85%;
            margin: 0px auto;
            padding: 2% 0px;
            background-color: var(--nav_background_color);
            background-image: var(--main_content_background_color);
            border-radius: 30px;
            box-shadow: 5px 5px 20px -5px black;
            text-align: center;
        }

        .main_section > h2 {
            color: var(--main_section_h2_color);
            text-shadow: 4px 4px 0px var(--main_section_h2_shadow_color);
            margin: 0px;
        }

        .main_section > p {
            margin: 0px;
            width: 80%;
            text-align: center;
            margin: 0px auto;
        }

        .main_section > a {
            display: inline-block;
            margin-top: 15px;
            text-decoration: none;
            color: white;
            background-color: var(--nav_button_color);
            padding: 10px 20px;
            border-radius: 30px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .main_section a:hover {
            background-color: var(--nav_button_hover_color);
            color: black;
            transform: translateY(-5px);
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.6);
        }



    /* Accessability Button Styles */
        #access_dropdown {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 20;

            width: 6vh;
            height: 6vh;
            border: 1px solid black;
            padding: 5px;
            border-radius: 50px;
            overflow-y: hidden;
            
            background-color: var(--background_color);

            display: flex;
            flex-direction: column;

            transition: height 0.3s ease;
        }
        #access_dropdown > section > img,
        #access_dropdown > section > form > button > img {
            width: 100%;
        }
        .accessibility_button {
            all: unset;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .accessibility_button:hover,
        .accessibility_button:focus {
            background-color: lightgray;
        }
        #dropdown_menu{
            visibility: hidden;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            opacity: 0;
            transition: opacity 0.3s ease;
            height: 100%;
        }
        #access_dropdown:hover,
        #access_dropdown:focus-within {
            height: 18vh;
        }


        #access_dropdown:hover > #dropdown_menu,
        #access_dropdown:focus-within > #dropdown_menu {
            visibility: visible;
            opacity: 1;
        }

        #access_dropdown:hover > #dropdown_preview,
        #access_dropdown:focus-within > #dropdown_preview {
            border-bottom: 1px solid black;
        }
        #dropdown_preview {
            transition: border 0.3s ease;
        }

        

            
                



/* index.html styling (only put things relevant to index here) */
    
    #index_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #index_nav {
        margin: -30px auto 40px auto;
    }

    .index_section {
        margin: 50px 0px;
    }

    #hero_img {
        /* Basic styling for the hero image (giant img the user sees when they first load in) */

        position: relative;


        width: 100%;
        height: 90vh;
        min-width: 100%;
        min-height: 90vh;

        background-image: var(--hero_image_background);
        /* Background generated by ChatGPT
            Prompt provided:
            "create me a hero image for my website hero image, with a modern simplistic feel for the website
            1. IT Support company
            2. A man in a suit
            3. light theme
            4. abstract or something"

            reason for using GEN AI to create image:
                1. our team does not have the graphic design skills to create a hero image
                2. our team does not have the time to create a hero image
                3. our team does not have the budget to pay someone to create a hero image
        */



        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        box-shadow: inset 0px -2px 20px -5px black
    }

    #hero_text {
        position: absolute;
        top: 20%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #hero_text h1{
        font-size: var(--h1_hero_font_size);
        color: var(--hero_image_text_h1_color);
        text-shadow: 5px 5px 4px var(--hero_image_text_h1_shadow_color);
        margin: 0px;
    }
    #hero_text p{
        font-size: var(--p_hero_font_size);
        color: var(--hero_image_text_p_color);
        text-shadow: 5px 5px 4px var(--hero_image_text_p_shadow_color);
    }



/* About_Us.html styling */

    /* Title Heading Centered */
    #about_us_heading {
        color: black;
        text-align: center;
        padding: 7px;
        font-size: var(--h1_font_size);
    }

    /* General Section Container */
    #About_Main {
        width: 85%;
        margin: 0 auto;
    }

    /* Team Description */
    .about_us {
        color: black;
        font-size: var(--p_font_size);
    }

    /* Adds underline under name */
    .title_image > h3 {
        text-decoration: underline;
        margin: 0 0 0.5rem 0;
        font-size: var(--h3_font_size);
    }

    /* Each Employee Section Box */
    .employee_box {
        margin-bottom: 30px;
        padding: 15px;
        background-color: rgb(129, 189, 230);
        border-radius: 10px;
    }

    /* Flex container for all employee info */
    .individual_employee {
        display: flex;
        flex-direction: row;
        align-items: center; /* This vertically centers all child elements */
    }

    /* Container for Name, Photo, and List */
    .title_image_and_list_flex_container {
        display: flex;
        flex-direction: row;
        width: 45%;
        align-items: flex-start;
    }

    .info-section ul {
        text-align: left;
    }

    /* Left section with name and image */
    .title_image {
        border-right: 1px solid black;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    /* Right section with student info list */
    .title_image_and_list_flex_container {
        display: flex;
        flex-direction: row;
        width: 45%;
        align-items: center; /* Vertically centers children */
    }

    /* Individual images (smaller) */
    .individual_employee_photos {
        width: 120px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    /* Description Section with vertical border */
    .description_box {
        margin-left: 2rem;
        max-width: 75%;
        flex: 1;
        border-left: 2px solid black;
        padding-left: 1rem;
        height: 200px;
        overflow-y: auto;
        display: block;
    }

    .description_box p {
        margin: 0;
        line-height: 1.4;
        font-size: var(--p_font_size);
    }

    /* Group Photo */
    #Group_Photo {
        width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    /* Info section for student details */
    .info-section {
        margin-top: 0.5rem;
    }

    .info-section ul {
        padding-left: 2em;
        list-style: disc;
        margin: 0;
    }

    .info-section ul li {
        margin-bottom: 0.3rem;
        font-size: var(--list_items_font_size);
    }

    .info-section ul li strong {
        font-size: 1.15em;
    }

    .info-section ul li span.info-value {
        font-size: 1.2em;
        color: black;
    }

    /* Member Contributions Section */
    #member_contributions {
        text-align: center;
        width: 85%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    #member_contributions h2 {
        font-size: var(--h2_font_size);
        margin-bottom: 0.5rem;
    }

    #member_contributions p {
        font-size: var(--p_font_size);
        margin-bottom: 1rem;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    #member_contributions dl {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }

    #member_contributions dt,
    #member_contributions dd {
        text-align: center;
    }

    #member_contributions dt {
        font-weight: bold;
        font-size: var(--p_font_size);
        margin-top: 0.5rem;
    }

    #member_contributions dd {
        margin: 0 0 1rem 1.5rem;
        font-size: var(--p_font_size);
    }


/* Jobs Page styling by Evan for Micheal (delegated task) */

    #jobs_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #jobs_main > #jobs_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #jobs_main > hr {
        width: 100%;
    }

    #jobs_page_aside {
        width: 55%;
        border: 3px solid var(--legend_and_input_color);
        padding: 25px;
        margin: 25px 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-color: var(--nav_background_color);
        text-align: center;
        box-sizing: content-box;
    }

    #jobs_main > h1 {
        font: 3em 'Arial', sans-serif;
        color: var(--text_color);
    }

    #jobs_page_aside > h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    #jobs_page_aside div > p,
    #jobs_page_aside div > h3 {
        margin: 0px;
    }

    #jobs_page_aside div {
        margin-bottom: 20px;
    }

    .jobs_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        width: 100%;
    }

    .jobs_section div > h3 {
        margin-bottom: 3px;
    }

    .jobs_section div > ul, 
    .jobs_section div > ol {
        width: fit-content;
        text-align: left;
        margin-top: 3px;
    }

    .description_box {
        max-height: 150px;
        width: 90%;
        max-width: 800px;
        padding: 10px;
        margin-top: 10px;
    }

    #employee_info {
        max-height: none;
        overflow-y: visible;
        padding-right: 0;
    }

    


/* Apply Page Styling */

    /* Sets the base styling of the whole apply.html page. */

        /* center the apply page h1 tag. */
        #apply_page h1 {
            text-align: center;
        }

        /* Sets the fieldsets border and color in the apply.html page. */
        #apply_page fieldset {
            border: 2px solid var(--legend_and_input_color);
            border-radius: 10px;
        }

        /* Sets the border of the input, select and textarea inputs in the apply.html page. */
        #apply_page input, select, textarea {
            border: 1.5px solid var(--legend_and_input_color);
            border-radius: 4px;
        }

        #apply_page textarea {
            resize: vertical;
            max-height: 32vh;
            min-height: 17vh;
        }

        /* Sets the background color of all inputs (input, select, etc.) in the apply.html page. */
        .input_background {
            background-color: var(--input_background_color);
        } 

        /* Sets the background color of all checkboxs once ticked. */
        .input_background {
            accent-color: var(--input_background_color);
        } 

        /* Sets the color of the placeholders in the apply.html page to black. */
        #apply_page input::placeholder, textarea::placeholder {
            color: black;
        }

        /* Sets the size and positioning of the form. */
        #apply_form_container {
            border-radius: 3vh;
            margin: auto;
            padding: 1%;
            height: 80%;
            width: 98%;
            text-align: left;
        }

        /* Sets the style and size of the <h1> tag in the apply.html page. */
        #apply_form_container > h1 {
            text-shadow: 4px 4px 0px var(--title_shadow_color);
            color: var(--title_color);
            text-align: center;
        }

        /* Makes the submit button clickable once a technical skill is checked. */
        #submit_eoi_form {
            pointer-events: none;
            opacity: 0.5;
        }
        .technical_skill:checked ~ #submit_eoi_form {
            pointer-events: auto;
            opacity: 1;
        }

        #technical_skills_fieldset > p {
            margin-top: 0%;
            margin-left: 2%;
            color: darkred;

        }


        /* Allows for the contact and gender fieldsets to be side by side 
        along with the technical skills, preferred skills and other 
        skills fieldsets to be side by side as well in the apply.html page. */
        #container_for_contact_details_and_gender,
        #container_for_technical_preferred_and_other_skills {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
            
        }

        /* Keeps the personal, address, contact and gender fieldsets inside of the apply form in 
        the apply.html page. */
        #personal_details_fieldset,
        #address_fieldset,
        #contact_fieldset, 
        #gender_fieldset {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 6px;
        }

        /* Sets the attributes the technical and preferred skills filedsets 
        so that they can be side by side in the apply.html page. */
        #technical_skills_fieldset,
        #preferred_skills_fieldset {
            display: inline-block;
            width: fit-content;
            text-align: left;
            padding: 6px;
            width: 100%;
        }

        /* Sets the attributes the other skills filedset in the apply.html page. */
        #other_skills_fieldset {
            display: inline-block;
            overflow-x: hidden;
            width: fit-content;
            padding: 6px;
            width: 100%;
        }  

        /* Sets the width of the inputs of the apply form in the apply.html page. */
        #personal_details_fieldset input{
            width: 12%;
        }
           
        /* Sets the width of the gender fieldset in the apply.html page. */
        #gender_fieldset {   
            width: 32vh;
        }

        /* Sets the width of the other skills textarea in the apply.html page. */
        #other_skills_fieldset textarea {
            width: 98%;
        }


/* Information Card [notification] styles */
    .card {
        width: var(--card_width);
        height: var(--card_height);
        border-radius: 8px;

        z-index: 1000;

        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.3) 3px 2px 5px 4px;
        
        display: flex;
        align-items: center;

        position: fixed;
        bottom: 20px;
        right: -350px;

        animation: 
            slide_in 0.5s forwards,
            slide_out 0.5s 3.5s forwards; 

        transition: width 0.3s ease, height 0.3s ease;

        cursor: pointer;

    }
    /* Card preview styles */
        .card > summary {
            width: 100%;
            height: 100%;
            overflow: hidden;
            list-style: none;
            border-radius: 8px;
        }
        .card > summary:focus {
            width: 100%;
            height: 100%;
            overflow: hidden;
            list-style: none;
            border: 1px solid black;
        }
        .card > summary::marker {
            display: none;
            content: none;
        }
        .card_preview_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            width: 100%;
            height: 100%;
        }
        .countdown {
            width: 10px;
            height: 100%;
            background-color: var(--card_countdown_color);
            border-top-right-radius: 20px;
            animation: countdown 3s 0.5s linear forwards;
            transform-origin: bottom;
        }
        .card_text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            white-space: nowrap;
            min-width: 0;
        }
        .card_text > h2 {
            color: var(--card_title_color);
            margin: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 95%;
        }
        .card_text > p {
            color: var(--card_p_color);
            margin: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 95%;
        }
        .icon_container {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon_container > svg {
            width: 100%;
            height: 100%;
            color: var(--card_icon_color);
        }
        /* card preview hover effect */
            .card:hover {
                width: calc(var(--card_width) * 1.2);
                height: calc(var(--card_height) * 1.2);
            }
        
    /* Card detailed styles */
        .card[open]{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80vw;
            height: 80vh;
            display: block;
            box-shadow: rgba(0, 0, 0, 0.3) 3px 2px 5px 4px;
            border: var(--card_detailed_border_colour) 5px outset;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .card[open] > summary {
            /* set the summary to cover the entire card
            so that the user can click anywhere to close it.
            also hide it so that the user doesn't see it*/
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            margin: auto;
            opacity: 1;
            z-index: 1000;
        }
        .card[open] .card_preview_container {
            visibility: hidden;
        }

        .card[open] > .card_detailed {
            /* align and format elements */
            max-width: 100%;
            box-sizing: border-box;


            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
            padding: 14% 5% 0%;

        }
        .card[open] > .card_detailed > h1 {
            color: var(--title_color);
            font-size: clamp(1.5em, 3vw, 2.5em);
            text-shadow: 2px 2px 0px var(--main_section_h2_shadow_color);
            
        }
        .card_detailed_note {
            position: relative;
            bottom: 0px;
            width: 100%;
            text-align: center;
            font-size: calc(var(--p_font_size) * 0.75);
            z-index: 1;
        }
        .card_detailed_status {
            position: absolute;
            top: 20px;
            left: 20px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 1px 10px inset;
            padding: 10px;
            border-radius: 20px;
        }
        .card_detailed_status > h3 {
            margin: 0px;
            font-size: clamp(1em, 3vw, 2.5em);
        }
        .card_detailed_status > p {
            color: var(--card_title_color);
            margin: 0px;
            font-size: clamp(1em, 3vw, 2.5em);
        }
        .card_detailed pre {
            max-width: 100%;
            box-sizing: border-box;
            overflow-x: auto;
            white-space: pre-wrap;
        }

    /* Card Animation keyframes */
        @keyframes slide_in {
            100%    {right: 20px;}
        }

        @keyframes countdown {
            100%    {transform: scaleY(0);}
        }

        @keyframes slide_out {
            100%    {visibility: hidden; right: calc((var(--card_width) * -1) - 20px);;}
        }

        /* pause animations when card is hovered over or open */
            .card:hover,
            .card:hover .countdown,
            .card[open],
            .card[open] .countdown,
            .card:focus-within,
            .card:focus-within .countdown {
                animation-play-state: paused;
            }
        

    



/* LOGIN PAGE STYLES */
    #login_body {
        background-color: black;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(./images/login_background.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .black_white #login_body {
        background-image: none;
    }
    #login_main {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 30%;
        height: 30%;

        border-radius: 15px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 50px;

        margin-top: 100px;
    }
    #login_main h1 {
        color: #E0E0E0;
        margin: 0px;
        margin-top: -25px;
    }
    #login_main p {
        color: #E0E0E0;
        margin: 0px;
    }
    #login_main > div > p {
        margin-top: -25px;
        margin-bottom: 45px;
    }
    #login_main hr {
        width: 100%;
        border: 1px solid #E0E0E0;
    }
    #login_main > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 100%;
    }

    .login_field > label {
        color: #E0E0E0;
        margin-bottom: 5px;
        font-size: var(--p_hero_font_size);
    }
    .login_field > input {
        border-radius: 50px;
        border: none;
        padding: 10px;
    }
    #login_main > form > button {
        all: unset;
        display: inline-block;
        margin-top: 15px;
        text-decoration: none;
        color: white;
        background-color: var(--nav_button_color);
        padding: 10px 60px;
        border-radius: 30px;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid black;
    }
    #login_main > form > button:hover {
        background-color: var(--nav_button_hover_color);
        color: black;
        transform: translateY(-5px);
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.6);
    }
    .login_field {
        display: flex;
        flex-direction: column; 
        width: 100%;
    }

/* manage.php styles */
    #manage_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    #manage_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    #manage_header > h1 {
        color: var(--text_color);
        font-size: var(--h1_font_size);
        margin: auto;
        text-align: center;
    }
    #manage_header > p {
        color: var(--text_color);
        font-size: var(--p_font_size);
        text-align: center;
        margin: 0px;
    }
    #manager_options {
        display: flex;
        align-items: center;
        vertical-align: middle;
        text-decoration: none;
        color: var(--nav_text_color);
        background-color: var(--nav_button_color);
        border-radius: 50px;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        font-size: calc(1em + 0.5vw);
        padding: 1% 2%; 
        box-shadow: 3px 2px 0px 0px black;
        border-radius: 25px;
    }
    #manager_options > button{
        display: flex;
        align-items: center;
        vertical-align: middle;
        text-decoration: none;
        color: var(--nav_text_color);
        background-color: var(--nav_button_color);
        border-radius: 50px;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        font-size: calc(1em + 0.5vw);
        padding: 10px 20px; 
        box-shadow: 2px 1px 0px 0px black;
    }
    #manager_options button:hover {
        color: var(--nav_hover_text_color);
        background-color: var(--nav_button_hover_color);
        transform: translateY(2px) translateX(3px);
        box-shadow: inset 1px 2px 0px 0px black;
    }
    #manager_options button.current {
        background-color: var(--nav_active_button_color);
        color: var(--nav_active_text_color);
    }

    #manager_options {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .result {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background_color);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
        border: var(--manager_result_border_color) 6px outset;
        border-radius: 15px;
        padding: 25px;
    }
    .result_table {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 2px;
        color: var(--manager_result_text_color);
        font-size: clamp(0.7em, 2vw, 1em);
        text-align: center;
        margin: 0px;
        background-color: var(--nav_background_color);
        border: #000000 1px solid;
        margin: 5px;
        padding: 3px;
    }
    .result_table,
    .result_table th,
    .result_table td {
        border: 2px solid #333333;
    }

    .result_table th {
        font-weight: bold;
        background-color: #e0e0e0;
    }

    .result_table td {
        background-color: #f8f8f8;
        transition: background-color 0.2s;
    }
    .result_table tr:hover td {
        background-color: #d6eaff;
    }
    .result_text {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 20px;
        color: var(--manager_result_text_color);
        font-size: clamp(0.7em, 2vw, 1em);
        text-align: center;
        margin: 0px;
        background-color: var(--nav_background_color);
        border: #000000 1px solid;
        margin: 5px;
        padding: 5px;
        overflow: hidden;
    }
    .result_text > h4 {
        margin: 0px;
        font-size: var(--p_font_size);
        width: 20%;
    }
    .result_text > p {
        width: 80%;
        margin: 0px;
        font-size: var(--p_font_size);
    }
    .result > img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 3px 2px 0px 0px black;
    }
    .result > textarea {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--legend_and_input_color);
        background-color: var(--input_background_color);
        color: var(--manager_result_text_color);
        font-size: var(--p_font_size);
    }
    .result_table {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .result_table > thead {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .result_table > thead > tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .result_table > thead > tr > th {
        width: 100%;
        display: block;
    }

    .result_table > tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .result_table > tbody > tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .result_table > tbody > tr > th {
        width: 100%;
        display: block;
    }
    .result > form > button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    





/* Post request files */
/* this just styes files that only accept post requests and dont do anything else */
    #post_request {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100vw;
        height: 100vh;
    }
    #post_request > h1 {
        color: var(--title_color);
        font-size: var(--h1_font_size);
        margin: 0px;
    }
    #post_request > p {
        color: var(--text_color);
        font-size: var(--p_font_size);
        text-align: center;
        margin: 0px;
    }





/*scalability for the entire website*/

    
    @media (max-width: 1500px) {
            /* footer styles across all pages for when the font is set to large */
            html.font_large footer {
                grid-template-columns: 100%;
                height: 100%;
            }
            html.font_large#footer_empty_row {
                display: none;
            }
            html.font_large #footer_company_description > h2, html.font_large #footer_company_description > p {
                margin: 3px 0px;
            }
            html.font_large .footer_links > nav {
                padding-bottom: 25px;
            }
        /* Info Card Styles */   
            .card[open] > .card_detailed {
                padding-top: 10%;
            }
    }

    @media (max-width: 1200px) {
        /* styles for the main navigation across all pages */
            html.font_large #hero_text {
                left: 35%;
            }

        /* Info Card Styles */   
            .card[open] > .card_detailed {
                padding-top: 11%;
            }
    }

    @media (max-width: 1000px) {
        /* styles for the main navigation across all pages */
            .main_navigation {
                width: 100%;
            }
            .main_navigation a {
                flex: 0 0 auto;
            }
            #access_dropdown {
                top: 100px;
            }

        /* about page styles */
            #employee_info {
                margin: 0px;
                width: 100%;
            }
            .title_image_and_list_flex_container {
                width: 100%;
                align-items: center;
                justify-content: center;
            }
            .individual_employee > p{
                width: 90%;
            }
            .individual_employee {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

        /* Info Card Styles */   
            .card[open] > .card_detailed {
                padding-top: 14%;
            }
    }

    @media (max-width: 900px) {

        /* apply page styles */
            #apply_page input::placeholder, select, textarea::placeholder, label {
                font-size: 0.8em; 
            }
            #container_for_personal_details,
            #container_for_address_details,
            #container_for_technical_preferred_and_other_skills {
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;
            }
            #personal_details_fieldset select,
            #address_fieldset select {
                width: 98%;
            }
            #personal_details_fieldset input,
            #address_fieldset input,
            #contact_fieldset input {
                width: 96%;
            }
            #gender_fieldset {
                width: 20vh;
            }
            #technical_skills_fieldset, 
            #preferred_skills_fieldset, 
            #other_skills_fieldset {
                width: 100%;
            }

            #hero_text {
                left: 35%;
            }

    }

    @media (max-width: 845px) {
        /* footer style across all pages */
            footer {
                grid-template-columns: 40% 10% 50%;
            }
    }

    @media (max-width: 830px) {
        #login_main {
            width: 70%;
            height: 50%;
        }
    }

    @media (max-width: 800px) {

        /* Manage page styles */
            #manager_options {
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 10px;
            }
            #manager_options > button {
                width: 100%;
                text-align: center;
                justify-content: center ;
            }
            #manager_options > button.current {
                width: 100%;
                text-align: center;
            }
        
        /* Info Card Styles */    
            .card[open] > .card_detailed {
                padding-top: 16%;
            }
    }

    @media (max-width: 600px) {

        /* hero image for the index style */
            #hero_img {
                min-height: 0px;
                height: 60vh;
            }
        
        /* footer styles across all pages */
            footer {
                grid-template-columns: 100%;
                height: 50vh;
            }
            #footer_empty_row {
                display: none;
            }
            #footer_company_description > h2, #footer_company_description > p {
                margin: 3px 0px;
            }

        /* Main navigation styles for all pages */
            .main_navigation {
                width: 90%;
                flex-direction: column;
                align-items: center;
                gap: 0px;
                overflow-x: hidden;
                padding: 10px;
            }
            .main_navigation a {
                width: 100%;
                justify-content: center;
            }
            
        /* accessability dropdown */
            #access_dropdown {
                top: 200px;
            }

        
        /* font large setting styles */
            html.font_large #hero_img {
                min-height: 0px;
                height: 40vh;
            }
            html.font_large #hero_text {
                top: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                background-color: var(--hero_text_low_screen_size_background_color);
                --hero_image_text_h1_shadow_color: rgba(0, 0, 0, 0.2);
                --hero_image_text_p_shadow_color: rgba(0, 0, 0, 0.2);
            }
        /* Info Card Styles */   
            .card[open] > .card_detailed {
                padding-top: 18%;
            }
        }

    @media (max-width: 480px) {

        /* about page styles */
            .title_image_and_list_flex_container {
                flex-direction: column;
                border-bottom: 1px solid black;
            }
            .title_image {
                border-right: none;
            }
            #Group_Photo {
                width: 100%;
                height: 100%;
            }
        /* Info Card Styles */   
            .card[open] > .card_detailed {
                padding-top: 22%;
            }

    }

    @media (max-width: 430px) {
        /* styling for the entirety of the Main elements across all pages */
            main {
                width: 100%;
                padding: 20px 20px;
                border-radius: 25px;
            }
    }

    @media (max-width: 400px) {
        /* hero image styling for index page */ 
            #hero_img {
                min-height: 0px;
                height: 50vh;
            }
        
        
        #login_main {
            width: 90%;
            height: 60%;
            padding: 15px;
            text-align: center;
        }
    }

    @media (max-width: 380px) {
        /* footer for large text */
        html.font_large #footer_links_flex_container {
            flex-direction: column;
            gap: 0px;
        }
    }

    @media (max-width: 340px) {
        /* hero image style for index */
            #hero_img {
                min-height: 0px;
                height: 40vh;
            }
            #hero_text {
                top: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                background-color: var(--hero_text_low_screen_size_background_color);
                --hero_image_text_h1_shadow_color: rgba(0, 0, 0, 0.2);
                --hero_image_text_p_shadow_color: rgba(0, 0, 0, 0.2);
            }
            #hero_text h1 {
                color: var(--hero_image_text_low_res_color);
            }
            #hero_text p {
                color: var(--hero_image_text_low_res_color);
            }
            #access_dropdown {
                top: 200px;
            }
    }

        /* Responsive adjustments for mobile */
        @media screen and (max-width: 1000px) {
            .individual_employee {
                flex-direction: column;
            }

            .title_image_and_list_flex_container {
                flex-direction: column;
                width: 100%;
                border-right: none;
                margin-bottom: 1rem;
            }

            .title_image {
                border-right: none;
                border-bottom: 1px solid black;
                padding-bottom: 10px;
                align-items: center;
            }

            .description_box {
                height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                border-left: none;
                padding-left: 0;
            }

            .description_box p {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 10px;
            }
        }













/*

5. CSS Requirements
No style markup should be included in your HTML file.
The pages in your website must be styled with CSS and have a consistent ‘look and feel’, particularly
common elements such as menus, headers and footers. While the emphasis is this assignment is on
the appropriate application of techniques rather than graphic design, your pages should follow
basic usability / accessibility principles, e.g. distinguishable foreground and background colours, and
font readability, etc.
Create your own design and implement it using one single external stylesheet that applies to all
your Web pages. This file should be named styles.css and placed in a styles folder. The stylesheet
should style the common elements on all your web pages, and address the following specific style
requirements.
1. Comments: The CSS should include comments at the beginning of the CSS file to identify
author and purpose. Individual line comments should be used as necessary to explain
particular styles and explain where they are applied.
2. Selectors: All the following CSS Selectors should be used appropriately at some point in this
assignment:
• element, #id, .class, grouping, contextual
• pseudo class, pseudo element
3. Menu: The menu should have its own set of styles applied. Use a background colour.
4. Index Page: Demonstrated the following specific CSS rules on the index.html page:
• display a background graphic.
5. Position Descriptions Page: Demonstrated the following specific CSS rules on the jobs.html
page:
• <h1> elements should have their font variant, size and family etc. set using the
short-hand font property.
• The <aside> should be 25% of the width of page and float to the right.
• The <aside> should have a coloured border with an appropriate margin and
padding.
• The footer should cover the full width of the page the footer text should be in a
small font and centred in the footer.
6. About Page: Demonstrated the following specific CSS rules on the about.html page:
• Style the student IDs on the right side of the page.
• The photo should be styled with a single border using the short-hand border-
property, and the figure should be floated to the right of the page.
• <table> should be centred within the section, headings in bold, table cells with a
background colour specified in hexadecimal format with some hover effect.
7. All pages: should have a fluid layout (the page should “Reflow” on page resize).
8. Apply.html: must have a display factor (e.g., flex or grid), use margin and padding, with
inputs, labels and button styling.
Other CSS selecto rs and p r o p e r t ie s can be used as necessary and appropriate for the
presentation
Do not include any proprietary CSS mark-up, such as –moz- or –webkit etc.
Hint: CSS validators will validate against a particular version of CSS e.g. CSS2.1 or 3. This assignment
should be valid CSS2.1 or CSS3. Make sure that you are checking your CSS using the correct version
of the validator. For example, if you include CSS3 markup and validate as CSS2.1 it will show errors.
(Best to pre-set the version in the Web Developer tools – see the note on Blackboard).
*/