/*



How to read and write this CSS file


indent the code to show where it starts and ends. for example:

/ Page the file relates to /

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }


/ another page /

    #example_element_3{
        style: value;
    }
    #example_element_4{
        style: value;
    }


this way we can see which elements are related to which page. which will make it easier to read and write the code
between multiple people.

you can also intent further to explain a certain area of code, for example:

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }
    
    / this code is focused on something specific /
        #example_element_3{
            style: value;
        }
        #example_element_4{
            style: value;
        }
    
    #example_element_5{
        style: value;
    }

*/



  

/* Declaring global scale variables by using :root */
:root {
    /* to make another variable follow the format
    --var_name: value; */

    
    --background_color: rgb(232, 232, 232);

    --main_background_color: rgb(255, 255, 255);
    --main_border_color: rgb(136, 158, 173);

    --legend_and_input_color: rgb(33, 110, 123);
    --input_background_color: rgb(167, 189, 199);

    --text_color: black;

    --title_color: rgb(40, 69, 92);
    --title_shadow_color: rgb(129, 189, 230);


    /* hero image styles */
        --hero_image_background: url('./images/hero_image.webp'); /* note that this is a `background-image` */
        --hero_image_text_h1_color: rgb(40, 69, 92);
        --hero_image_text_h1_shadow_color: rgb(129, 189, 230);
        --hero_image_text_p_color: rgb(40, 69, 92);
        --hero_image_text_p_shadow_color: rgb(129, 189, 230);



    /* Navigation Styles */
        --nav_background_color: rgba(170, 200, 220, 0.9);

        --nav_button_color: rgb(74, 129, 169);
        --nav_active_button_color: rgb(150 213 255);
        --nav_button_hover_color: rgb(247, 248, 250);

        --nav_border_color: rgb(52, 121, 182);

        --nav_text_color: rgb(255, 255, 255);
        --nav_hover_text_color: rgb(0, 0, 0);
        --nav_active_text_color: rgb(0, 0, 0);

        --nav_icon_filter: invert(100%);
        --nav_icon_active_filter: invert(0%);
        --nav_icon_hover_filter: invert(0%);

        --nav_element_gap: 3%;


    /* Main section styles */
        --main_content_background_color: linear-gradient(to left, var(--content_background_color)90%, var(--content_background_gradient_color));
        --main_section_h2_color: rgb(40, 69, 92);
        --main_section_h2_shadow_color: rgb(129, 189, 230);
    


    /* Footer styles */
        --footer_background_gradient: linear-gradient(to bottom, rgb(40, 61, 80), rgb(13 22 30)80%);
        --footer_text_color: #e2e2e2;
        --footer_link_color: #4fd1ff;
        --footer_link_color_hover: #01f8c3;




    /* Font styles */
        --h1_hero_font_size: 3.8em;
        --p_hero_font_size: 1.5em;
        --h1_font_size: 3em;
        --h2_font_size: 2.2em;
        --h3_font_size: 1.8em;
        --p_font_size: 1em;
        --list_items_font_size: 1em;
        --a_font_size: 1em;
        --legend_font_size: 1.5em;


    --content_background_color: rgba(170, 200, 220, 0.9);
    --content_background_gradient_color: rgba(111, 197, 255, 0.9);

    /*note that most values are going to be blank/ placeholders for actual styles*/
}


/* ALTERNATE STYLES FOR ACCESSIBILITY */
    /* simply add a class, then change the variables to the new values */
    .black_white { /* accessibility for color blind people */


        /* General styles */
            --main_background_color: rgb(65, 65, 65);
            --main_border_color: black;



            /* Navigation styles */
                --nav_background_color: white;
                --nav_text_color: white;
                --nav_button_color: black;
                --nav_active_button_color: gray;
                --nav_active_text_color: white;
                --nav_border_color: black;
                --nav_icon_active_filter: invert(100%);

            /* Hero image styles */
                --hero_image_background: url('./images/hero_image_black_white.webp');
                --hero_image_text_h1_color: Black;
                --hero_image_text_h1_shadow_color: gray;
                --hero_image_text_p_color: black;
                --hero_image_text_p_shadow_color: gray;
            

            /* Main section styles */
                --main_content_background_color: linear-gradient(to left, white 90%, rgb(165, 165, 165));
                --main_section_h2_color: black;
                --main_section_h2_shadow_color: rgb(214, 214, 214);
            

            
            /* Footer styles */
                --footer_background_gradient: linear-gradient(to bottom, rgb(185, 185, 185), rgb(70, 70, 70) 80%);
                --footer_text_color: black;
                --footer_link_color: rgb(0, 0, 0);
                --footer_link_color_hover: rgb(75, 75, 75);




        /* Specific stylings */
            --text_color: white;
            --title_color: black;
            --title_shadow_color: rgb(214, 214, 214);
            --legend_and_input_color: black;
            --input_background_color: lightgray;
    }

    .font_large { /* accessibility for people with bad eyesight */
        --h1_hero_font_size: 4.8em;
        --p_hero_font_size: 2em;
        --h1_font_size: 4em;
        --h2_font_size: 3em;
        --h3_font_size: 2.8em;
        --p_font_size: 2em;
        --list_items_font_size: 2em;
        --a_font_size: 2em;
        --legend_font_size: 2em;
    }

    .font_small { /* accessibility for people with bad eyesight, or good? idk but smaller text goes brrr (probably good for phone people) */
        --h1_hero_font_size: 2.8em;
        --p_hero_font_size: 1em;
        --h1_font_size: 2em;
        --h2_font_size: 1.5em;
        --h3_font_size: 1.2em;
        --p_font_size: 0.8em;
        --list_items_font_size: 0.8em;
        --a_font_size: 0.8em;
        --legend_font_size: 1em;
    }


/* General styling
    This is for styling every single page */


    * {
        box-sizing: border-box;
        /* generated by chatgpt as a fix to the body not covering the screen when reaching the size 430px
        i didn't know how to fix it and after a couple of chats with gpt it gave me this after i explain to it that it might be the fact that
        its setting the width of the object and then adding padding making it bigger then what its suppose to be
        so when i set main to 100% it was actually 100% + padding which made it overflow the screen (at least that what i think is happening)
        no prompt was used as I gave it code, and had multiple chats. really it was me who figured out the problem and gpt just gave me the solution*/   
    }



    h1 {
        font-size: var(--h1_font_size);
    }

    h2 {
        font-size: var(--h2_font_size);
    }
    h3 {
        font-size: var(--h3_font_size);
    }
    p, label, select, input, textarea {
        font-size: var(--p_font_size);
    }
    li {
        font-size: var(--list_items_font_size);
    }
    a {
        font-size: var(--a_font_size);
    }
    legend {
        font-size: var(--legend_font_size);
    }



    body {
        /* Styling the entire body of all pages */
        background-color: var(--background_color);

        margin: 0px; /* removes the default margin */
        min-width: 248px;
        position: relative;
        overflow-x: hidden;
    }
    
    main {
        /* styles for all main content elements */
        
        width: 80%;
        padding: 40px;
        margin: 0px auto;
        background-color: var(--main_background_color);
        border: 3px solid var(--main_border_color);
        border-radius: 80px;
        


        line-height: 2;
    }

    


    /* Main navigation styling; Note: values should be changed from the variables not from here */
        .main_navigation {
            width: 60%;
            margin: 0px auto 40px auto;
            padding: 1% 0px;
            background-color: var(--nav_background_color);
            position: sticky;
            top: 0;

            /* border */
            border: 3px solid var(--nav_border_color);
            border-radius: 30px;

            /* flex styles */
            display: flex;
            justify-content: center;
            gap: var(--nav_element_gap);

            box-shadow: 5px 5px 20px -5px black;

            z-index: 10;
        }

        .main_navigation a {
            display: flex;
            align-items: center;
            vertical-align: middle;
            text-decoration: none;
            color: var(--nav_text_color);
            background-color: var(--nav_button_color);
            border-radius: 50px;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            font-size: calc(1em + 0.5vw);
            padding: 1% 2%; 
            box-shadow: 3px 2px 0px 0px black;
        }

        .main_navigation a.current {
            background-color: var(--nav_active_button_color);
            color: var(--nav_active_text_color);
        }

        .main_navigation a:hover {
            color: var(--nav_hover_text_color);
            background-color: var(--nav_button_hover_color);
            transform: translateY(2px) translateX(3px);
            box-shadow: inset 1px 2px 0px 0px black;
        }

        .main_navigation img {
            filter: var(--nav_icon_filter);
        }

        .main_navigation a.current > img {
            filter: var(--nav_icon_active_filter);
        }
        .main_navigation a:hover > img {
            filter: var(--nav_icon_hover_filter);
        }
        


    /* Footer styling, this will be basic for now but will carry all important links*/
        footer {
            display: grid;
            position: static;
            bottom: 0;
            background-image: var(--footer_background_gradient);
            height: 40vh;
            grid-template-columns: 40% 25% 35%;
            text-align: center;
            color: var(--footer_text_color);
            margin-top: 100px;
            width: 100%;
            box-shadow: inset -7px 9px 20px -5px black;
        }
        #footer_links_flex_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2%;
            width: 100%;
            height: 100%;
        }
        #footer_company_description {
            padding: 2%;
        }
        .footer_links nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2%;
        }
        .footer_links a {
            text-decoration: none;
            color: var(--footer_link_color);
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }
        .footer_links a:hover {
            color: var(--footer_link_color_hover);
            text-decoration: underline;
        }

        #footer_image img {
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: 0.05;
            width: 99vw;
            height: 10vh;
            z-index: 2;
        }






    /* Section styling */

        .main_section {
            width: 85%;
            margin: 0px auto;
            padding: 2% 0px;
            background-color: var(--nav_background_color);
            background-image: var(--main_content_background_color);
            border-radius: 30px;
            box-shadow: 5px 5px 20px -5px black;
            text-align: center;
        }

        .main_section > h2 {
            color: var(--main_section_h2_color);
            text-shadow: 4px 4px 0px var(--main_section_h2_shadow_color);
            margin: 0px;
        }

        .main_section > p {
            margin: 0px;
            width: 80%;
            text-align: center;
            margin: 0px auto;
        }

        .main_section > a {
            display: inline-block;
            margin-top: 15px;
            text-decoration: none;
            color: white;
            background-color: var(--nav_button_color);
            padding: 10px 20px;
            border-radius: 30px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .main_section a:hover {
            background-color: var(--nav_button_hover_color);
            color: black;
            transform: translateY(-5px);
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.6);
        }



    /* Accessability Button Styles */
        #access_dropdown {
            position: absolute;
            top: 20px;
            right: 25px;

            width: 6vh;
            height: 6vh;
            border: 1px solid black;
            padding: 5px;
            border-radius: 50px;
            overflow-y: hidden;
            
            background-color: var(--background_color);

            display: flex;
            flex-direction: column;

            transition: height 0.3s ease;
        }
        #access_dropdown > section > img,
        #access_dropdown > section > form > button > img {
            width: 100%;
        }
        .accessibility_button {
            all: unset;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .accessibility_button:hover {
            background-color: lightgray;
        }
        #dropdown_menu{
            visibility: hidden;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            opacity: 0;
            transition: opacity 0.3s ease;
            height: 100%;
        }
        #access_dropdown:hover {
            height: 25vh;
        }

        #access_dropdown:hover > #dropdown_menu {
            visibility: visible;
            opacity: 1;
        }

        #access_dropdown:hover > #dropdown_preview {
            border-bottom: 1px solid black;
        }
        #dropdown_preview {
            transition: border 0.3s ease;
        }

        

            
                



/* index.html styling (only put things relevant to index here) */
    
    #index_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #index_nav {
        margin: -30px auto 40px auto;
    }

    .index_section {
        margin: 50px 0px;
    }

    #hero_img {
        /* Basic styling for the hero image (giant img the user sees when they first load in) */

        position: relative;


        width: 100%;
        height: 90vh;
        min-width: 100%;
        min-height: 90vh;

        background-image: var(--hero_image_background);
        /* Background generated by ChatGPT
            Prompt provided:
            "create me a hero image for my website hero image, with a modern simplistic feel for the website
            1. IT Support company
            2. A man in a suit
            3. light theme
            4. abstract or something"

            reason for using GEN AI to create image:
                1. our team does not have the graphic design skills to create a hero image
                2. our team does not have the time to create a hero image
                3. our team does not have the budget to pay someone to create a hero image
        */



        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        box-shadow: inset 0px -2px 20px -5px black
    }

    #hero_text {
        position: absolute;
        top: 20%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #hero_text h1{
        font-size: var(--h1_hero_font_size);
        color: var(--hero_image_text_h1_color);
        text-shadow: 5px 5px 4px var(--hero_image_text_h1_shadow_color);
        margin: 0px;
    }
    #hero_text p{
        font-size: var(--p_hero_font_size);
        color: var(--hero_image_text_p_color);
        text-shadow: 5px 5px 4px var(--hero_image_text_p_shadow_color);
    }

/* About_Us.html styling */

    /* About Us - Title / What We Do Content */

    /* Width of Screen Text */

    #About_Main {
        width: 85%;
        margin: 0px auto;
    }

    
    /* Removes default spacing */
    #About_Main dd {
        margin: 0px;
    }

    .about_us {
        --about-us_color: var(black);
        color: var(--text_color);
    }

    /* Creates a gradient in the content background */
    #employee_info {
        padding: 6px;
        border-radius: 30px;
        box-shadow: 5px 5px 20px -5px black;
        text-align: center;
    }

    /* Aligns #about_us_heading to the center */
    #about_us_heading {
        color: var(--text_color);
        text-align: center;
        padding: 7px;
    }

    /* Adds an underline to the #employee_info text */
    .title_image > h3 {
        text-decoration: underline;
    }

    /* Puts .individual_employee content in an eastern facing row for styling */
    .individual_employee {
        display: flex;
        flex-direction: row;
    }

    /* Changes width for content to size and setup flex-direction: row*/
    .individual_employee > h3 {
        width: 100%;
    }

    /* Changes width for content to size and setup flex-direction: row*/
    .individual_employee > ul {
        width: 25%
    }

    /* Changes width for content to size and setup flex-direction: row*/
    .individual_employee > p {
        width: 63%
    }

    /* Setups image height and width for all individual photos */
    .individual_employee_photos {
        width: 140px;
        height: 140px;
    }

    /* Setups horizontal flex container */
    .title_image_and_list_flex_container {
        display: flex;
        flex-direction: row;
        width: 45%;
    }

    /* Adds a line to the right of title_images using the border for styling. */
    .title_image {
        border-right: 1px solid black;
        padding-right: 10px;
        display: inline-block;
    }

    /* Changes width and height of group photo */
    #Group_Photo {
        width: 300px;
        height: 215px;
    }



/* Jobs Page styling by Evan for Micheal (delegated task) */

    #jobs_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #jobs_main > hr {
        width: 100%;
    }

    #jobs_page_aside {
        width: 25%;
        border: 3px solid var(--legend_and_input_color);
        padding: 25px;
        margin: 25px 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-color: var(--nav_background_color);
        float: right;
        text-align: center;
        box-sizing: content-box;
    }

    #jobs_main > h1 {
        font: 3em 'Arial', sans-serif;
        color: var(--text_color);
    }

    #jobs_page_aside > h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    #jobs_page_aside div > p,
    #jobs_page_aside div > h3 {
        margin: 0px;
    }

    #jobs_page_aside div {
        margin-bottom: 20px;
    }

    .jobs_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        width: 100%;
    }

    .jobs_section div > h3 {
        margin-bottom: 3px;
    }

    .jobs_section div > ul, 
    .jobs_section div > ol {
        width: fit-content;
        text-align: left;
        margin-top: 3px;
    }

    


/* Apply Page Styling */

    /* Sets the base styling of the whole apply.html page. */

        /* center the apply page h1 tag. */
        #apply_page h1 {
            text-align: center;
        }

        /* Sets the fieldsets border and color in the apply.html page. */
        #apply_page fieldset {
            border: 2px solid var(--legend_and_input_color);
            border-radius: 10px;
        }

        /* Sets the border of the input, select and textarea inputs in the apply.html page. */
        #apply_page input, select, textarea {
            border: 1.5px solid var(--legend_and_input_color);
            border-radius: 4px;
        }

        #apply_page textarea {
            resize: vertical;
            max-height: 32vh;
            min-height: 17vh;
        }

        /* Sets the background color of all inputs (input, select, etc.) in the apply.html page. */
        .input_background {
            background-color: var(--input_background_color);
        } 

        /* Sets the background color of all checkboxs once ticked. */
        .input_background {
            accent-color: var(--input_background_color);
        } 

        /* Sets the color of the placeholders in the apply.html page to black. */
        #apply_page input::placeholder, textarea::placeholder {
            color: black;
        }

        /* Sets the size and positioning of the form. */
        #apply_form_container {
            border-radius: 3vh;
            margin: auto;
            padding: 1%;
            height: 80%;
            width: 98%;
            text-align: left;
        }

        /* Sets the style and size of the <h1> tag in the apply.html page. */
        #apply_form_container > h1 {
            text-shadow: 4px 4px 0px var(--title_shadow_color);
            color: var(--title_color);
            text-align: center;
        }

        /* Allows for the contact and gender fieldsets to be side by side 
        along with the technical skills, preferred skills and other 
        skills fieldsets to be side by side as well in the apply.html page. */
        #container_for_contact_details_and_gender,
        #container_for_technical_preferred_and_other_skills {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
            
        }

        /* Keeps the personal, address, contact and gender fieldsets inside of the apply form in 
        the apply.html page. */
        #personal_details_fieldset,
        #address_fieldset,
        #contact_fieldset, 
        #gender_fieldset {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 6px;
        }

        /* Sets the attributes the technical and preferred skills filedsets 
        so that they can be side by side in the apply.html page. */
        #technical_skills_fieldset,
        #preferred_skills_fieldset {
            display: inline-block;
            width: fit-content;
            text-align: left;
            padding: 6px;
            width: 100%;
        }

        /* Sets the attributes the other skills filedset in the apply.html page. */
        #other_skills_fieldset {
            display: inline-block;
            overflow-x: hidden;
            width: fit-content;
            padding: 6px;
            width: 100%;
        }  

        /* Sets the width of the inputs of the apply form in the apply.html page. */
        #personal_details_fieldset input{
            width: 12%;
        }
           
        /* Sets the width of the gender fieldset in the apply.html page. */
        #gender_fieldset {   
            width: 32vh;
        }

        /* Sets the width of the other skills textarea in the apply.html page. */
        #other_skills_fieldset textarea {
            width: 98%;
        }


    



/*scalability for the entire website*/

    @media (max-width: 1000px) {
        /* styles for the main navigation across all pages */
            .main_navigation {
                width: 100%;
            }

            .main_navigation a {
                flex: 0 0 auto;
            }
    }

    @media (max-width: 900px) {

        /* apply page styles */
            #apply_page input::placeholder, select, textarea::placeholder, label {
                font-size: 0.8em; 
            }
            #container_for_personal_details,
            #container_for_address_details,
            #container_for_technical_preferred_and_other_skills {
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;
            }
            #personal_details_fieldset select,
            #address_fieldset select {
                width: 98%;
            }
            #personal_details_fieldset input,
            #address_fieldset input,
            #contact_fieldset input {
                width: 96%;
            }
            #gender_fieldset {
                width: 20vh;
            }
            #technical_skills_fieldset, 
            #preferred_skills_fieldset, 
            #other_skills_fieldset {
                width: 100%;
            }
    }

    @media (max-width: 845px) {
        /* footer style across all pages */
            footer {
                grid-template-columns: 40% 10% 50%;
            }
    }

    @media (max-width: 800px) {

        /* about page styles */
            #employee_info {
                margin: 0px;
                width: 100%;
            }
            .title_image_and_list_flex_container {
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            .individual_employee > p{
                width: 90%;
            }
            
            .individual_employee {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

    }

    @media (max-width: 600px) {

        /* hero image for the index style */
            #hero_img {
                min-height: 0px;
                height: 60vh;
                font-size: larger;
            }
            #hero_text > p {
                font-size: medium;
            }
        
        /* footer styles across all pages */
            footer {
                grid-template-columns: 100%;
                height: 50vh;
            }
            #footer_empty_row {
                display: none;
            }
            #footer_company_description > h2, #footer_company_description > p {
                margin: 3px 0px;
            }

        /* Main navigation styles for all pages */
            .main_navigation {
                width: 90%;
                flex-direction: column;
                align-items: center;
                gap: 0px;
                overflow-x: hidden;
            }
            .main_navigation a {
                width: 100%;
                justify-content: center;
            }
    }

    @media (max-width: 480px) {

        /* about page styles */
            .title_image_and_list_flex_container {
                flex-direction: column;
                border-bottom: 1px solid black;
            }
            .title_image {
                border-right: none;
            }
            #Group_Photo {
                width: 100%;
                height: 100%;
            }

    }

    @media (max-width: 430px) {
        /* styling for the entirety of the Main elements across all pages */
            main {
                width: 100%;
                padding: 20px 20px;
                border-radius: 25px;
            }
    }

    @media (max-width: 400px) {
        /* hero image styling for index page */ 
            #hero_img {
                min-height: 0px;
                height: 50vh;
                font-size: medium;
            }
            #hero_text > p {
                font-size: small;
            }
        
        /* jobs page styling */
            #jobs_page_aside > h2 {
                font-size: 1em;
            }
            #jobs_page_aside div > p,
            #jobs_page_aside div > h3 {
                font-size: smaller;
            }

            #jobs_main h1{
                font-size: 2em;
            }
            .jobs_section h2{
                font-size: 1.5em;
            }
            .jobs_section h3 {
                font-size: small;
            }
            .jobs_section p, ul, ol{
                font-size: smaller;
            }
    }

    @media (max-width: 340px) {
        /* hero image style for index */
            #hero_img {
                min-height: 0px;
                height: 40vh;
            }
            #hero_text {
                top: 0%;
                left: 0%;
                transform: translate(0%, 0%);
                background-color: rgba(78, 78, 78, 0.438);
            }
    }

























/*

5. CSS Requirements
No style markup should be included in your HTML file.
The pages in your website must be styled with CSS and have a consistent ‘look and feel’, particularly
common elements such as menus, headers and footers. While the emphasis is this assignment is on
the appropriate application of techniques rather than graphic design, your pages should follow
basic usability / accessibility principles, e.g. distinguishable foreground and background colours, and
font readability, etc.
Create your own design and implement it using one single external stylesheet that applies to all
your Web pages. This file should be named styles.css and placed in a styles folder. The stylesheet
should style the common elements on all your web pages, and address the following specific style
requirements.
1. Comments: The CSS should include comments at the beginning of the CSS file to identify
author and purpose. Individual line comments should be used as necessary to explain
particular styles and explain where they are applied.
2. Selectors: All the following CSS Selectors should be used appropriately at some point in this
assignment:
• element, #id, .class, grouping, contextual
• pseudo class, pseudo element
3. Menu: The menu should have its own set of styles applied. Use a background colour.
4. Index Page: Demonstrated the following specific CSS rules on the index.html page:
• display a background graphic.
5. Position Descriptions Page: Demonstrated the following specific CSS rules on the jobs.html
page:
• <h1> elements should have their font variant, size and family etc. set using the
short-hand font property.
• The <aside> should be 25% of the width of page and float to the right.
• The <aside> should have a coloured border with an appropriate margin and
padding.
• The footer should cover the full width of the page the footer text should be in a
small font and centred in the footer.
6. About Page: Demonstrated the following specific CSS rules on the about.html page:
• Style the student IDs on the right side of the page.
• The photo should be styled with a single border using the short-hand border-
property, and the figure should be floated to the right of the page.
• <table> should be centred within the section, headings in bold, table cells with a
background colour specified in hexadecimal format with some hover effect.
7. All pages: should have a fluid layout (the page should “Reflow” on page resize).
8. Apply.html: must have a display factor (e.g., flex or grid), use margin and padding, with
inputs, labels and button styling.
Other CSS selecto rs and p r o p e r t ie s can be used as necessary and appropriate for the
presentation
Do not include any proprietary CSS mark-up, such as –moz- or –webkit etc.
Hint: CSS validators will validate against a particular version of CSS e.g. CSS2.1 or 3. This assignment
should be valid CSS2.1 or CSS3. Make sure that you are checking your CSS using the correct version
of the validator. For example, if you include CSS3 markup and validate as CSS2.1 it will show errors.
(Best to pre-set the version in the Web Developer tools – see the note on Blackboard).

*/