/*



How to read and write this CSS file


indent the code to show where it starts and ends. for example:

/ Page the file relates to /

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }


/ another page /

    #example_element_3{
        style: value;
    }
    #example_element_4{
        style: value;
    }


this way we can see which elements are related to which page. which will make it easier to read and write the code
between multiple people.

you can also intent further to explain a certain area of code, for example:

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }
    
    / this code is focused on something specific /
        #example_element_3{
            style: value;
        }
        #example_element_4{
            style: value;
        }
    
    #example_element_5{
        style: value;
    }

*/







/* Declaring global scale variables by using :root */
:root {
    /* to make another variable follow the format
    --var_name: value; */

    
    --background_color: rgb(232, 232, 232);

    --legend_and_input_color: rgb(33, 110, 123);
    --input_background_color: rgb(167, 189, 199);

    --hero_image_background: url('./images/hero_image.png'); /* note that this is a `background-image` */

    --nav_background_color: rgba(170, 200, 220, 0.9);

    --nav_text_color: rgb(255, 255, 255);
    --nav_hover_text_color: rgb(0, 0, 0);
    --nav_active_text_color: rgb(0, 0, 0);

    --nav_button_color: rgb(74, 129, 169);
    --nav_button_hover_color: rgb(247, 248, 250);
    --nav_active_button_color: rgb(150 213 255);
    --nav_border_color: rgb(52, 121, 182);
    --nav_element_gap: 3%;

    --link_text_color: rgb(44, 75, 255);
    --link_text_color_hover: rgb(38, 47, 100);

    --footer_link_color: #4fd1ff;
    --footer_link_color_hover: #01f8c3;

    --content_background_color: rgba(170, 200, 220, 0.9);
    --content_background_gradient_color: rgba(111, 197, 255, 0.9);

    /*note that most values are going to be blank/ placeholders for actual styles*/
}



/* General styling
This is for styling every single page */

    body {
        /* Styling the entire body of all pages */
        background-color: var(--background_color);

        margin: 0px; /* removes the default margin */
        min-width: 248px;
        position: relative;
        overflow-x: hidden;
    }

    main {
        /* styles for all main content elements */

        width: 80%;
        padding: 40px;
        margin: 0px auto;
        background-color: #fff;
        border: 3px solid rgb(136, 158, 173);
        border-radius: 80px;

    }


    /* Main navigation styling; Note: values should be changed from the variables not from here */
        .main_navigation {
            width: 60%;
            min-width: 500px;
            margin: -30px auto 40px auto;
            padding: 1% 0px;
            background-color: var(--nav_background_color);
            position: sticky;
            top: 0;

            /* border */
            border: 3px solid var(--nav_border_color);
            border-radius: 30px;

            /* flex styles */
            display: flex;
            justify-content: center;
            gap: var(--nav_element_gap);

            box-shadow: 5px 5px 20px -5px black;

            z-index: 10;
        }

        .main_navigation a {
            display: flex;
            align-items: center;
            vertical-align: middle;
            text-decoration: none;
            color: var(--nav_text_color);
            background-color: var(--nav_button_color);
            border-radius: 50px;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            font-size: calc(1em + 0.5vw);
            padding: 1% 2%; 
            box-shadow: 3px 2px 0px 0px black;
        }

        .main_navigation a.current {
            background-color: var(--nav_active_button_color);
            color: var(--nav_active_text_color);
        }

        .main_navigation a:hover {
            color: var(--nav_hover_text_color);
            background-color: var(--nav_button_hover_color);
            transform: translateY(2px) translateX(3px);
            box-shadow: inset 1px 2px 0px 0px black;
        }

        .main_navigation img {
            filter: invert(100%);
        }

        .main_navigation a.current > img {
            filter: invert(0%);
        }
        .main_navigation a:hover > img {
            filter: invert(0%);
        }
        


    /* Footer styling, this will be basic for now but will carry all important links*/
        footer {
            display: grid;
            position: static;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgb(40, 61, 80), rgb(13 22 30)80%), url(./images/hero_image.png);
            height: 40vh;
            grid-template-columns: 40% 25% 35%;
            text-align: center;
            color: #e2e2e2;
            margin-top: 100px;
            width: 100%;
            box-shadow: inset -7px 9px 20px -5px black;
        }
        #footer_links_flex_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2%;
            width: 100%;
            height: 100%;
        }
        #footer_company_description {
            padding: 2%;
            font-size: calc(1em + 0.2vw);
        }
        .footer_links {
            font-size: calc(1em + 0.1vw);
        }
        .footer_links nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2%;
        }
        .footer_links a {
            text-decoration: none;
            color: var(--footer_link_color);
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }
        .footer_links a:hover {
            color: var(--footer_link_color_hover);
            text-decoration: underline;
        }

        #footer_image img {
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: 0.05;
            width: 99vw;
            height: 10vh;
            z-index: 2;
        }






    /* Section styling */

        .main_section {
            width: 85%;
            margin: 0px auto;
            padding: 2% 0px;
            background-color: var(--nav_background_color);
            background-image: linear-gradient(to left, var(--content_background_color)90%, var(--content_background_gradient_color));
            border-radius: 30px;
            box-shadow: 5px 5px 20px -5px black;
            text-align: center;
        }

        .main_section > h2 {
            font-size: 2.2em;
            color: rgb(40, 69, 92);
            text-shadow: 4px 4px 0px rgb(129, 189, 230);
            margin: 0px;
        }

        .main_section > p {
            font-size: 1.3em;
            margin: 0px;
            width: 80%;
            text-align: center;
            margin: 0px auto;
        }

        .main_section > a {
            display: inline-block;
            margin-top: 15px;
            text-decoration: none;
            color: white;
            background-color: var(--nav_button_color);
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 1.2em;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .main_section a:hover {
            background-color: var(--nav_button_hover_color);
            color: black;
            transform: translateY(-5px);
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.6);
        }



        /* Responsive design for small width devices */

            /* Main navigation for small devices */
                @media (max-width: 1000px) {
                    .main_navigation {
                        min-width: 20px;
                        width: max-content;
                        overflow-x: auto;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        padding: 10px;
                        scrollbar-width: thin;
                    }
                
                    .main_navigation a {
                        flex: 0 0 auto;
                    }
                }
        
            /* Footer for small devices */
                @media (max-width: 845px) {
                    footer {
                        grid-template-columns: 40% 10% 50%;
                    }
                }
                @media (max-width: 600px) {
                    footer {
                        grid-template-columns: 100%;
                        height: 50vh;
                    }
                    #footer_empty_row {
                        display: none;
                    }
                    #footer_company_description > h2, #footer_company_description > p {
                        margin: 3px 0px;
                    }
                }
                



/* index.html styling (only put things relevant to index here) */
    
    #index_main {
        display: flex;
        flex-direction: column;
      align-items: center;
        justify-content: space-around;
    }

    #index_section {
        margin: 50px 0px;
    }

    #hero_img {
        /* Basic styling for the hero image (giant img the user sees when they first load in) */

        position: relative;


        width: 100%;
        height: 90vh;
        min-width: 100%;
        min-height: 90vh;

        background-image: var(--hero_image_background);
        /* Background generated by ChatGPT
            Prompt provided:
            "create me a hero image for my website hero image, with a modern simplistic feel for the website
            1. IT Support company
            2. A man in a suit
            3. light theme
            4. abstract or something"

            reason for using GEN AI to create image:
                1. our team does not have the graphic design skills to create a hero image
                2. our team does not have the time to create a hero image
                3. our team does not have the budget to pay someone to create a hero image
        */



        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        box-shadow: inset 0px -2px 20px -5px black
    }

    #hero_text {
        position: absolute;
        top: 20%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #hero_text h1{
        font-size: calc(2em + 2vw);
        color: rgb(40, 69, 92);
        text-shadow: 5px 5px 4px rgb(129, 189, 230);
        margin: 0px;
    }
    #hero_text p{
        font-size: calc(0.3em + 1vw);
        color: rgb(40, 69, 92);
        text-shadow: 5px 5px 4px rgb(129, 189, 230);
    }



/* About_Us.html styling */

    /* main {
        width: %70 
    } */

    /* Line Breaks */

    /* About Us - Title / What We Do Content */

    #About_Main {
        width: 85%;
        margin: 0px auto;
    }

    #employee_info {
        background-color: var(--nav_background_color);
        padding: 6px;
        background-image: linear-gradient(to left, var(--content_background_color) 90%, var(--content_background_gradient_color));
        border-radius: 30px;
        box-shadow: 5px 5px 20px -5px black;
        text-align: center;
    }

    #about_us_heading {
        text-align: center;
        padding: 7px;
    }

    #employee_info h3 {
        text-decoration: underline;
    }

    .individual_employee {
        display: flex;
        flex-direction: row;
    }

    .individual_employee > h3 {
        width: 12%;
    }

    .individual_employee > ul {
        width: 25%
    }

    .individual_employee > p {
        width: 63%
    }

    .title_image_and_list_flex_container {
        display: flex;
        flex-direction: row;
        width: 45%;
    }

    .title_image {
        border-right: 1px solid black;
        padding-right: 10px;
        display: inline-block;
    }

    @media (max-width: 800px) {

        #employee_info {
            margin: 0px;
            width: 100%;
        }
        .title_image_and_list_flex_container {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .individual_employee > p{
            width: 90%;
        }
        
        .individual_employee {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

    }



/* Jobs Page styling by Michael Sharpley */

    #jobs_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #jobs_page_aside {
        width: 25%;
        border: 3px solid var(--legend_and_input_color);
        padding: 25px;
        background-color: var(--nav_background_color);

        position: absolute;
        top: 17vh;
        right: 2%;
        text-align: center;
        
    }

    #jobs_page_aside > h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    #jobs_page_aside div > p,
    #jobs_page_aside div > h3 {
        margin: 0px;
    }

    #jobs_page_aside div {
        margin-bottom: 20px;
    }

    .jobs_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
    }

    .jobs_section div > h3 {
        margin-bottom: 3px;
    }

    .jobs_section div > ul, 
    .jobs_section div > ol {
        width: fit-content;
        text-align: left;
        margin-top: 3px;
    }


    @media (max-width: 1400px) {
        #jobs_page_aside {
            position: static;
            width: 70%;
            margin: 0px auto;
            top: 0;
        }
    }

/*

5. Position Descriptions Page: Demonstrated the following specific CSS rules on the jobs.html
page:
• <h1> elements should have their font variant, size and family etc. set using the
short-hand font property.
• The <aside> should be 25% of the width of page and float to the right.
• The <aside> should have a coloured border with an appropriate margin and
padding.
• The footer should cover the full width of the page the footer text should be in a
small font and centred in the footer.

/ Page the file relates to /

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }


/ another page /

    #example_element_3{
        style: value;
    }
    #example_element_4{
        style: value;
    }


this way we can see which elements are related to which page. which will make it easier to read and write the code
between multiple people.

you can also intent further to explain a certain area of code, for example:

    #example_element_1{
        style: value;
    }
    #example_element_2{
        style: value;
    }
    
    / this code is focused on something specific /
        #example_element_3{
            style: value;
        }
        #example_element_4{
            style: value;
        }
    
    #example_element_5{
        style: value;
    }

*/    


/* Apply Page Styling */

    /* Defines the base color theme for the job page (May incorporate this theme across all pages with group approval. */

        #apply_Page h1 {
            text-align: center;
        }

        #apply_Page fieldset {
            border: 2px solid var(--legend_and_input_color);
            border-radius: 10px;
        }

        #apply_Page input, select, textarea {
            border: 1.5px solid var(--legend_and_input_color);
            border-radius: 4px;
        }

        .input_Background {
            background-color: var(--input_background_color);
        } 

        .input_Background {
            accent-color: var(--input_background_color);
        } 

        #apply_Page input::placeholder, textarea::placeholder {
            color: black;
        }

        #apply_Form_Container {
            border-radius: 3vh;
            margin: auto;
            padding: 1%;
            height: 80%;
            width: 98%;
            text-align: left;
        }

        #apply_Form_Container > h1 {
            text-shadow: 4px 4px 0px rgb(129, 189, 230);
            color: rgb(40, 69, 92);
            text-align: center;
            font-size: 2.5em;
        }


    /* Putting the Personal Details fieldset tag 
        into a container so that it can be spaced evenly in the form */
        #container_For_Presonal_Details {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
        }

        #personal_Details_Fieldset {
            max-width: fit-content;
            display: inline-block;
            padding: 6px;
            width: 100%;
        }

        #personal_Details_Fieldset input{
            width: 12%;
        }


    /* Putting the Address Details fieldset tag 
        into a container so that it can be spaced evenly in the form */
        #container_For_Address_Details {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
        }

        #address_Fieldset {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            padding: 6px;
        }

    
    /* Putting the contact and preffered skills fieldset
        tags into a container so that they can be side by side */
        #container_For_Contact_Details_And_Gender {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
        }

        #contact_Fieldset, 
        #gender_Fieldset {
            display: inline-block;
            width: fit-content;
            padding: 6px;
            width: 100%;
        }

        #gender_Fieldset {   
            width: 32vh;
        }


    /* Putting the experience and other skills fieldset 
    tags into a container so that they can be side by side */
        #container_For_Technical_Preferred_And_Other_Skills {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
            gap: 4px;
            
        }

        #technical_Skills_Fieldset,
        #preferred_Skills_Fieldset {
            display: inline-block;
            width: fit-content;
            text-align: left;
            padding: 6px;
            width: 100%;
        }

        #other_Skills_Fieldset {
            display: inline-block;
            overflow-x: hidden;
            width: fit-content;
            padding: 6px;
            width: 100%;
        }

        #other_Skills_Fieldset textarea {
            width: 98%;
        }

    /* Apply form for small devices */
    @media (max-width: 800px) {
        #apply_Page input::placeholder, select, textarea::placeholder, label {
            font-size: 0.8em; 
        }

        #container_For_Personal_Details,
        #container_For_Address_Details,
        #container_For_Technical_Preferred_And_Other_Skills {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
        }

        #personal_Details_Fieldset select,
        #address_Fieldset select {
            width: 98%;
        }

        #personal_Details_Fieldset input,
        #address_Fieldset input,
        #contact_Fieldset input {
            width: 96%;
        }

        #gender_Fieldset {
            width: 20vh;
        }

        #technical_Skills_Fieldset, 
        #preferred_Skills_Fieldset, 
        #other_Skills_Fieldset {
            width: 100%;
        }
    }


/*

5. CSS Requirements
No style markup should be included in your HTML file.
The pages in your website must be styled with CSS and have a consistent ‘look and feel’, particularly
common elements such as menus, headers and footers. While the emphasis is this assignment is on
the appropriate application of techniques rather than graphic design, your pages should follow
basic usability / accessibility principles, e.g. distinguishable foreground and background colours, and
font readability, etc.
Create your own design and implement it using one single external stylesheet that applies to all
your Web pages. This file should be named styles.css and placed in a styles folder. The stylesheet
should style the common elements on all your web pages, and address the following specific style
requirements.
1. Comments: The CSS should include comments at the beginning of the CSS file to identify
author and purpose. Individual line comments should be used as necessary to explain
particular styles and explain where they are applied.
2. Selectors: All the following CSS Selectors should be used appropriately at some point in this
assignment:
• element, #id, .class, grouping, contextual
• pseudo class, pseudo element
3. Menu: The menu should have its own set of styles applied. Use a background colour.
4. Index Page: Demonstrated the following specific CSS rules on the index.html page:
• display a background graphic.
5. Position Descriptions Page: Demonstrated the following specific CSS rules on the jobs.html
page:
• <h1> elements should have their font variant, size and family etc. set using the
short-hand font property.
• The <aside> should be 25% of the width of page and float to the right.
• The <aside> should have a coloured border with an appropriate margin and
padding.
• The footer should cover the full width of the page the footer text should be in a
small font and centred in the footer.
6. About Page: Demonstrated the following specific CSS rules on the about.html page:
• Style the student IDs on the right side of the page.
• The photo should be styled with a single border using the short-hand border-
property, and the figure should be floated to the right of the page.
• <table> should be centred within the section, headings in bold, table cells with a
background colour specified in hexadecimal format with some hover effect.
7. All pages: should have a fluid layout (the page should “Reflow” on page resize).
8. Apply.html: must have a display factor (e.g., flex or grid), use margin and padding, with
inputs, labels and button styling.
Other CSS selecto rs and p r o p e r t ie s can be used as necessary and appropriate for the
presentation
Do not include any proprietary CSS mark-up, such as –moz- or –webkit etc.
Hint: CSS validators will validate against a particular version of CSS e.g. CSS2.1 or 3. This assignment
should be valid CSS2.1 or CSS3. Make sure that you are checking your CSS using the correct version
of the validator. For example, if you include CSS3 markup and validate as CSS2.1 it will show errors.
(Best to pre-set the version in the Web Developer tools – see the note on Blackboard).

*/